In [1]:
pwd

'/Users/badisa'

# Notes 

- Start thinking about writing code as classes | beyond notebooks, some form of an app to be deployed
- Write functions as pure functions, clojure
- Do a config block at the top | specify how one will run the notebook, spec file_paths
- Pass arguments to functions i.e. call a func and prompt user to put in file_path
- Patent for groundwater collection and processing | collect and spin to an HPC machine that processes at high speeds
- Read files into memory

In [5]:
#get the current working directory
print(os.getcwd())

/Users/badisa

In [6]:
#change the directory to where the files are

os.chdir("/Users/badisa/TWC_Datasets/")

In [7]:
def listDirs():
    """ get the list of all files and directories in the current working directory, TWC_Datasets """
    print("All files and dirs in the TWC_Datasets directory: \n", os.listdir())
listDirs()

All files and dirs in the TWC_Datasets directory:
 ['~$Ramotswa_all.xlsx', '.DS_Store', 'RIMS_boreholes_template.xlsx', 'Ramotswa_all.xlsx', '~$RIMS_boreholes_template.xlsx', 'NGA', 'RTBA_BOREHOLES']

# TO-DO !!!
call python | bash scripts inside the Jupyter notebook for handling TWC datasets

In [8]:
# do a bash-like script or python regex for listing all files in the directories, NGA, RTBA etc 
ls -al | cd NGA/ | ls -al

SyntaxError: invalid syntax (<ipython-input-8-9a5daf4b6ecc>, line 2)

In [9]:
#define funcs for listing files (by types) inside NGA dir

def findCSVfiles(path_to_dir, suffix = ".csv"):
    """ func for finding csv files in the NGA directory """
    path = "/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/"
    dir_list = os.listdir(path)
    return [file for file in dir_list if file.endswith(suffix)]

def findXLSXfiles(path_to_dir, suffix = ".xlsx"):
    """ func for finding xlsx files in the NGA directory """
    path = "/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/"
    dir_list = os.listdir(path)
    return [file for file in dir_list if file.endswith(suffix)]

def findXLSfiles(path_to_dir, suffix = ".xls"):
    """ func for finding xls files in the NGA directory"""
    path = "/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/"
    dir_list = os.listdir(path)
    return [file for file in dir_list if file.endswith(suffix)]

def findTXTfiles(path_to_dir, suffix = ".TXT"):
    """ func for finding TXT files in the specified directory """
    path = "/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/"
    dir_list = os.listdir(path)
    return [file for file in dir_list if file.endswith(suffix)]

In [10]:
# call all files functions
def call_file_funcs():
    """ func that calls all the find files functions """
    """ prints all files from funcs above and displays all csv, xlsx and txt files """
    files_path = "/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/"
    return findCSVfiles(files_path), findXLSXfiles(files_path), findXLSfiles(files_path), findTXTfiles(files_path) 

call_file_funcs()

(['A3N0513_WaterLevels.csv',
  'A3N0521_WaterLevels.csv',
  'D4N2517_WaterLevels.csv',
  'A3N0514_WaterLevels.csv',
  'A1N0001_WaterLevels.csv',
  'Ramotswa data 2 20190904.csv',
  'A3N0015_WaterLevels.csv',
  'D4N2516_WaterLevels.csv',
  'D4N1658_WaterLevels.csv',
  'Ramotswa data 1 20190904.csv',
  'A1N0002_WaterLevels.csv',
  'mergedWaterLevels.csv',
  'D4N1468_WaterLevels.csv',
  'A3N0519_WaterLevels.csv',
  'D4N2515_WaterLevels.csv',
  'A3N0516_WaterLevels.csv',
  'Ramotswa variables inventory 20190904.csv',
  'D4N1666_WaterLevels.csv',
  'A1N0003_WaterLevels.csv'],
 ['~$Quality Code Description.xlsx',
  'Quality Code Description.xlsx',
  'A1H001 Upper Eye Dinokana.xlsx',
  'A1H002 Lower Eye Dinokana.xlsx',
  'A1H003 Upper Eye Tweefontein.xlsx',
  'A1H004 Lower Eye Tweefontein.xlsx',
  'A1H005 Skilpad Eye.xlsx',
  '~$A1H001 Upper Eye Dinokana.xlsx',
  'Ramotswa study area plus 10km.xlsx'],
 ['Quality codes.xls'],
 ['Ramotswa variables inventory 20190904_CSV.TXT',
  'Ramotswa data 1 20190904_CSV.TXT',
  'Ramotswa data 2 20190904_CSV.TXT'])

In [11]:
# print all files, not as a list of a list
files_path = "/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/"
def cat_files():
    """ func that prints out file names as a list, without apostrophes """
    CSVs = findCSVfiles(files_path)
    XLSXs = findXLSXfiles(files_path)
    XLSs = findXLSfiles(files_path)
    TXTs = findTXTfiles(files_path)
    
    """
    for file, file2, file3, file4 in CSVs, XLSXs, XLSs, TXTs:
        print(file, file2, file3, file4)
    """
# check for a better way of chunking vars in the for loop, i.e. use a single for loop for all filenames
    for file in CSVs:
        print(file)

    for file2 in XLSXs:
        print(file2)
    
    for file3 in XLSs:
        print(file3)

    for file4 in TXTs:
        print(file4)
         
cat_files()


config block at the top
pass arguments to functions

A3N0513_WaterLevels.csv
A3N0521_WaterLevels.csv
D4N2517_WaterLevels.csv
A3N0514_WaterLevels.csv
A1N0001_WaterLevels.csv
Ramotswa data 2 20190904.csv
A3N0015_WaterLevels.csv
D4N2516_WaterLevels.csv
D4N1658_WaterLevels.csv
Ramotswa data 1 20190904.csv
A1N0002_WaterLevels.csv
mergedWaterLevels.csv
D4N1468_WaterLevels.csv
A3N0519_WaterLevels.csv
D4N2515_WaterLevels.csv
A3N0516_WaterLevels.csv
Ramotswa variables inventory 20190904.csv
D4N1666_WaterLevels.csv
A1N0003_WaterLevels.csv
~$Quality Code Description.xlsx
Quality Code Description.xlsx
A1H001 Upper Eye Dinokana.xlsx
A1H002 Lower Eye Dinokana.xlsx
A1H003 Upper Eye Tweefontein.xlsx
A1H004 Lower Eye Tweefontein.xlsx
A1H005 Skilpad Eye.xlsx
~$A1H001 Upper Eye Dinokana.xlsx
Ramotswa study area plus 10km.xlsx
Quality codes.xls
Ramotswa variables inventory 20190904_CSV.TXT
Ramotswa data 1 20190904_CSV.TXT
Ramotswa data 2 20190904_CSV.TXT

In [12]:
#check why this only returns one file !!!
def findCSV2(path_to_dir, suffix = ".csv"):
    """ func for"""
    path = "/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/"
    dir_list = os.listdir(path)
    for file in dir_list:
        if file.endswith(suffix):
            return file

In [13]:
# check | investigate this
findCSV2("/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/")

'A3N0513_WaterLevels.csv'

In [14]:
# merge spreadsheets and append, chunk water levels together, water_quality together etc
# Read in and merge water levels
cat_files()

A3N0513_WaterLevels.csv
A3N0521_WaterLevels.csv
D4N2517_WaterLevels.csv
A3N0514_WaterLevels.csv
A1N0001_WaterLevels.csv
Ramotswa data 2 20190904.csv
A3N0015_WaterLevels.csv
D4N2516_WaterLevels.csv
D4N1658_WaterLevels.csv
Ramotswa data 1 20190904.csv
A1N0002_WaterLevels.csv
mergedWaterLevels.csv
D4N1468_WaterLevels.csv
A3N0519_WaterLevels.csv
D4N2515_WaterLevels.csv
A3N0516_WaterLevels.csv
Ramotswa variables inventory 20190904.csv
D4N1666_WaterLevels.csv
A1N0003_WaterLevels.csv
~$Quality Code Description.xlsx
Quality Code Description.xlsx
A1H001 Upper Eye Dinokana.xlsx
A1H002 Lower Eye Dinokana.xlsx
A1H003 Upper Eye Tweefontein.xlsx
A1H004 Lower Eye Tweefontein.xlsx
A1H005 Skilpad Eye.xlsx
~$A1H001 Upper Eye Dinokana.xlsx
Ramotswa study area plus 10km.xlsx
Quality codes.xls
Ramotswa variables inventory 20190904_CSV.TXT
Ramotswa data 1 20190904_CSV.TXT
Ramotswa data 2 20190904_CSV.TXT

In [24]:
""" use glob func to match files with similar names, match all waterLevel files and sort them """
water_level_filenames = (glob.glob('/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/*_WaterLevels.csv'))
water_level_filenames

['/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A3N0513_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A3N0521_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/D4N2517_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A3N0514_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1N0001_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A3N0015_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/D4N2516_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/D4N1658_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1N0002_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/D4N1468_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A3N0519_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/D4N2515_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A3N0516_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/D4N1666_WaterLevels.csv',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1N0003_WaterLevels.csv']

In [16]:
# create water level dataframe
water_levels = pd.DataFrame()

# append each water_level file to the dataframe
for wl_file in water_level_filenames:
    wl_df = pd.read_csv(wl_file, parse_dates = True, date_parser = True)
    wl_df.rename(columns = lambda x: x.strip().lower(), inplace = True)
    water_levels = water_levels.append(wl_df, ignore_index = True, sort = False)

# Inspect the first 10 records
water_levels.head(-10)

,station,date,time,water_level,quality,datatrans,comment,unnamed: 7
0,A3N0513,19980904,12:00,-12.10,26,7,...,NaN
1,A3N0513,19991215,12:00,-14.82,26,7,...,NaN
2,A3N0513,20000215,12:00,-10.06,26,7,...,NaN
3,A3N0513,20000315,12:00,-10.06,26,7,...,NaN
4,A3N0513,20000316,12:00,-8.79,26,7,...,NaN
...,...,...,...,...,...,...,...,...
1070,A1N0003,19960615,12:00,-26.57,26,7,...,NaN
1071,A1N0003,19960715,12:00,-28.93,26,7,...,NaN
1072,A1N0003,19960815,12:00,-27.91,26,7,...,NaN
1073,A1N0003,19960915,12:00,-27.00,26,7,...,NaN
1074,A1N0003,19961015,12:00,-27.06,26,7,...,NaN

In [116]:
water_levels
print('current water levels: {} \n'.format(water_levels ['station'].unique()))

current water levels: ['A3N0513 ' 'A3N0521 ' 'D4N2517 ' 'A3N0514 ' 'A1N0001 ' 'A3N0015 '
 'D4N2516 ' 'D4N1658 ' 'A1N0002 ' 'D4N1468 ' 'A3N0519 ' 'D4N2515 '
 'A3N0516 ' 'D4N1666 ' 'A1N0003 ']

In [22]:
# merged all water levels in cwd (NGA_and_WMS_databases) into mergedWaterLevels.csv file
water_levels.to_csv("/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/mergedWaterLevels.csv", index=False)

In [19]:
# inspect water levels info
water_levels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 8 columns):
station        1085 non-null object
date           1085 non-null int64
time           1085 non-null object
water_level    1085 non-null float64
quality        1085 non-null int64
datatrans      1085 non-null int64
comment        1085 non-null object
unnamed: 7     3 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 67.9+ KB

# Merging water quality files

In [53]:
""" use glob func to match all water quality files inside NGA dir"""
#TODO: construct a proper file pattern matching for Water Quality files
water_quality_filenames = sorted(glob.glob('/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/*[eye]*.xlsx'))
# look for filenames containing chars "eye", pick the first 5 (those for water quality)
water_quality_files = water_quality_filenames[:5]
water_quality_files

['/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1H001 Upper Eye Dinokana.xlsx',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1H002 Lower Eye Dinokana.xlsx',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1H003 Upper Eye Tweefontein.xlsx',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1H004 Lower Eye Tweefontein.xlsx',
 '/Users/badisa/TWC_Datasets/NGA/NGA_and_WMS_databases/A1H005 Skilpad Eye.xlsx']

In [110]:
# create water quality dataframe, wq_df means water quality dataframe
# files have different columns, rename cols to the same col_names
# merge all water quality files into one water quality file

merged_water_quality = pd.DataFrame()
for f in water_quality_files:
    wq_df = pd.read_excel(f, header = None, parse_dates = True)
    wq_df ['name'] = wq_df.iloc[0,1][0:6]
    wq_df = wq_df.iloc[4:, :]
    wq_df.columns = ['date_time','mean_discharge_cumecs', 'w_quality', 'name'] # cumecs ~ Cubic metres per second measure for water discharge
    merged_water_quality = merged_water_quality.append(wq_df, ignore_index = True)
    
# see last 20 records in the dataframe   
merged_water_quality.head(-20)

                 date_time mean_discharge_cumecs w_quality    name
0      1960-05-10 00:00:00                   NaN       255  A1H001
1      1960-05-11 00:00:00                 0.095        26  A1H001
2      1960-05-12 00:00:00                 0.095        26  A1H001
3      1960-05-13 00:00:00                 0.095        26  A1H001
4      1960-05-14 00:00:00                 0.095        26  A1H001
...                    ...                   ...       ...     ...
68356  1999-03-11 00:00:00                     0         1  A1H005
68357  1999-03-12 00:00:00                     0         1  A1H005
68358  1999-03-13 00:00:00                     0         1  A1H005
68359  1999-03-14 00:00:00                     0         1  A1H005
68360  1999-03-15 00:00:00                     0         1  A1H005

[68361 rows x 4 columns]

In [111]:
# save merged WQ files to an xlsx file called mergedWaterQuality.xlsx
merged_water_quality.to_excel("mergedWaterQuality.xlsx", index = False)

In [113]:
merged_water_quality.head(10)

             date_time mean_discharge_cumecs w_quality    name
0  1960-05-10 00:00:00                   NaN       255  A1H001
1  1960-05-11 00:00:00                 0.095        26  A1H001
2  1960-05-12 00:00:00                 0.095        26  A1H001
3  1960-05-13 00:00:00                 0.095        26  A1H001
4  1960-05-14 00:00:00                 0.095        26  A1H001
5  1960-05-15 00:00:00                 0.095        26  A1H001
6  1960-05-16 00:00:00                 0.095        26  A1H001
7  1960-05-17 00:00:00                 0.095        26  A1H001
8  1960-05-18 00:00:00                 0.095        26  A1H001
9  1960-05-19 00:00:00                 0.095        26  A1H001

In [ ]:
#Map the quality code to description
# i.e. change the 170 to reflect period of no record